In [1]:
import pandas as pd

In [9]:
vine_df = pd.read_csv("/Users/caed/Desktop/Data_Repository/Amazon_Vine_Analysis/vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R8MEA6IGAHO0B,5,0,0,N,Y
1,R31LOQ8JGLPRLK,5,0,1,N,Y
2,R2Y0MM9YE6OP3P,5,0,0,N,Y
3,RRB9C05HDOD4O,4,0,0,N,Y
4,R26I2RI1GFV8QG,2,0,0,N,Y
...,...,...,...,...,...,...
104970,R2CDRVDUKB5Z9P,5,23,27,N,N
104971,R1DVLTZFXXOX9,5,10,11,N,N
104972,R1GHKKZMHAHQC1,5,13,13,N,N
104973,R227G6T5B26DVC,5,58,61,N,N
104974,R44WS2RSQQ0HR,4,37,38,N,N

In [17]:
vine_df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [50]:
filtered_df = vine_df[vine_df['total_votes'] >= 20]
filtered_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
9,RBEMQ29WJBHYG,5,164,168,N,Y
83,R2JK5Y8D5MXAGP,1,5,121,N,Y
195,R13W3EMIUV120L,4,288,294,N,Y
217,R30TJ8POYNVCRE,5,15,21,N,N
296,R1H5Y9Z2DHRNVO,1,4,95,N,Y
...,...,...,...,...,...,...
104967,R2Y5CQEWBI145K,2,48,57,N,N
104968,RWYG4S02ONH29,5,85,95,N,N
104970,R2CDRVDUKB5Z9P,5,23,27,N,N
104973,R227G6T5B26DVC,5,58,61,N,N
104974,R44WS2RSQQ0HR,4,37,38,N,N

In [34]:
helpful_div_total_df = filtered_df['helpful_votes']/filtered_df['total_votes']
helpful_div_total_df.head()

9      0.976190
83     0.041322
195    0.979592
217    0.714286
296    0.042105
dtype: float64

In [51]:
filtered_df['helpful_vote_ratio'] = helpful_div_total_df
filtered_df

/Users/caed/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_vote_ratio
9,RBEMQ29WJBHYG,5,164,168,N,Y,0.976190
83,R2JK5Y8D5MXAGP,1,5,121,N,Y,0.041322
195,R13W3EMIUV120L,4,288,294,N,Y,0.979592
217,R30TJ8POYNVCRE,5,15,21,N,N,0.714286
296,R1H5Y9Z2DHRNVO,1,4,95,N,Y,0.042105
...,...,...,...,...,...,...,...
104967,R2Y5CQEWBI145K,2,48,57,N,N,0.842105
104968,RWYG4S02ONH29,5,85,95,N,N,0.894737
104970,R2CDRVDUKB5Z9P,5,23,27,N,N,0.851852
104973,R227G6T5B26DVC,5,58,61,N,N,0.950820
104974,R44WS2RSQQ0HR,4,37,38,N,N,0.973684

In [53]:
filtered_df = filtered_df.loc[filtered_df["helpful_vote_ratio"]>0.5]#filtered_df = filtered_df[(filtered_df['helpful_vote_ratio'] >= 0.50)]
filtered_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_vote_ratio
9,RBEMQ29WJBHYG,5,164,168,N,Y,0.976190
195,R13W3EMIUV120L,4,288,294,N,Y,0.979592
217,R30TJ8POYNVCRE,5,15,21,N,N,0.714286
530,R1LK03P7BCJEJD,1,31,35,N,Y,0.885714
625,RBXUICKGHL685,1,48,52,N,N,0.923077
...,...,...,...,...,...,...,...
104967,R2Y5CQEWBI145K,2,48,57,N,N,0.842105
104968,RWYG4S02ONH29,5,85,95,N,N,0.894737
104970,R2CDRVDUKB5Z9P,5,23,27,N,N,0.851852
104973,R227G6T5B26DVC,5,58,61,N,N,0.950820
104974,R44WS2RSQQ0HR,4,37,38,N,N,0.973684

In [66]:
paid_df = filtered_df.loc[filtered_df['vine'] == 'Y']
paid_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_vote_ratio
41600,R3BOQTLUU3Y4L8,4,42,55,Y,N,0.763636
42191,RWF03LXVXC22A,3,396,445,Y,N,0.889888
42845,REPU28WG1VZUE,5,242,281,Y,N,0.861210
43054,R1D6REC9HPJVQY,4,31,41,Y,N,0.756098

In [65]:
unpaid_df = filtered_df.loc[filtered_df['vine'] == 'N']
unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_vote_ratio
9,RBEMQ29WJBHYG,5,164,168,N,Y,0.976190
195,R13W3EMIUV120L,4,288,294,N,Y,0.979592
217,R30TJ8POYNVCRE,5,15,21,N,N,0.714286
530,R1LK03P7BCJEJD,1,31,35,N,Y,0.885714
625,RBXUICKGHL685,1,48,52,N,N,0.923077
...,...,...,...,...,...,...,...
104967,R2Y5CQEWBI145K,2,48,57,N,N,0.842105
104968,RWYG4S02ONH29,5,85,95,N,N,0.894737
104970,R2CDRVDUKB5Z9P,5,23,27,N,N,0.851852
104973,R227G6T5B26DVC,5,58,61,N,N,0.950820
104974,R44WS2RSQQ0HR,4,37,38,N,N,0.973684

In [83]:
reviews_count = len(vine_df['review_id'])

reviews_count

104975

In [79]:
five_star_df = vine_df.loc[vine_df['star_rating'] == 5]
five_star_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R8MEA6IGAHO0B,5,0,0,N,Y
1,R31LOQ8JGLPRLK,5,0,1,N,Y
2,R2Y0MM9YE6OP3P,5,0,0,N,Y
7,R3RRXU2R23NMQ9,5,0,0,N,Y
9,RBEMQ29WJBHYG,5,164,168,N,Y
...,...,...,...,...,...,...
104968,RWYG4S02ONH29,5,85,95,N,N
104970,R2CDRVDUKB5Z9P,5,23,27,N,N
104971,R1DVLTZFXXOX9,5,10,11,N,N
104972,R1GHKKZMHAHQC1,5,13,13,N,N
104973,R227G6T5B26DVC,5,58,61,N,N

In [81]:
five_star_df_count = len(five_star_df)
five_star_df_count

52255

In [84]:
percentage_five_star = five_star_df_count/reviews_count
percentage_five_star

0.49778518694927365

In [91]:
five_star_paid = paid_df.loc[paid_df['star_rating'] == 5]
five_star_paid_count = len(five_star_paid)
five_star_paid_count

1

In [92]:
five_star_unpaid = unpaid_df.loc[unpaid_df['star_rating'] == 5]
five_star_unpaid_count = len(five_star_unpaid)
five_star_unpaid_count

525

In [93]:
paid_count = len(paid_df)
paid_count

4

In [95]:
unpaid_count = len(unpaid_df)
unpaid_count

1062

In [96]:
percentage_five_star_paid = five_star_paid_count/paid_count
percentage_five_star_paid

0.25

In [98]:
percentage_five_star_unpaid = five_star_unpaid_count/unpaid_count
percentage_five_star_unpaid

0.4943502824858757